.main-page{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    background: #e3e3e3;
    box-shadow: 0 0 10px rgba(125,125,125,0.3);
}
.main-page>div:not(:nth-of-type(1)){
    background-color: white;
    margin-top:5px;
    padding: 10px 0;
}

.carousel{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 35%;
}
.upload-button{
    position: absolute;
    width: 150px;
    height: 40px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background: #fdba02;
}
.section1{
    background-color: #fee190 !important;
}

#categoryCard {
    width: 95%;
    height: 0;
    padding-bottom: 95%;
    background-color: #f4f4f4;
    margin: 5% 2.5%;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(125,125,125,0.3);
}

#recipeCard{
    width: 95%;
    height: 0;
    padding-bottom: calc(95% * 0.62);
    margin:5% 2.5%;
    background: #f4f4f4 url("../Image/logo.png") no-repeat center / cover;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 4px 4px 5px rgba(125,125,125,0.3);
}
#recipeCard div.cardText{
    position: absolute;
    width: 35%;
    height: 100%;
    padding-bottom:100%;
    background-color: white;
    right:0;
    bottom:0;
    margin-top: 50%;
    text-align: start;
    padding: 10px;
}
#recipeCard div.cardText h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    white-space: nowrap;
}
#recipeCard div.cardText p{
    font-size: 0.8em;
}
#recipeCard div.cardText p:nth-of-type(1){
    line-height: 2;
}
#recipeCard div.cardText p:last-child {
    font-size: 15px;
    position: absolute;
    bottom:7%;
    right: 7%;
}
#recipeCard div.cardText p:last-child::before {
    content:"";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    background: url("../Image/clock.svg") no-repeat center/contain;
    top:0px;
    left:-20px;
}

#videoCard {
    width:98%;
    height:0;
    padding-bottom: calc(98% * 0.583);
    margin: 5% 1%;
    border-radius: 10px;
    background-color: #f4f4f4;
    box-shadow: 1px 1px 3px rgba(125,125,125,0.3);
}

#noticeBoardCard{
    width: 98%;
    height: 0;
    padding-bottom: calc(95% * 0.62);
    margin: 1%;
    border-radius: 30px;
    background: white;
    box-shadow: 1px 1px 3px rgba(125,125,125,0.3);
}