.main-page{
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
}
.carousel{
    position: relative;
    height: 300px;
}
.upload-button{
    position: absolute;
    width: 150px;
    height:40px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    
}