.navbar {
    padding: 0 10vw;
    padding-top: 1.8rem;
    padding-bottom: 1rem;
}
button{
    background-color: white;
    border: none;
    height: 2rem;
    width: 6rem;
}
.search-place{
    background-color: lightgray;
    height: 2rem;
    border-radius: 2.5rem;
    padding: 0 0.5rem;
}
.search-button{
    width:auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
}